body{
    margin: 0px;
    background-image: url("./ogbg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.over{
    width: 100%;


}
header{
    margin: 0px;
    width: 100%;
}
header>div{
    float: left;
    margin-right:120px;

}
header>div>h1{
    margin: 0px;
    margin-left: 52px;
    color: orange;
}
.head2{
    margin-left: 100px;
    margin-top: 15px;
    float: left;

}
.head2>span{
    margin-right: 74px;
    font-weight: bold;
    color: white;
}
.head2>.lspan{
    margin-right: 0px;
}
.head3{
    margin-top: 12px;
    margin-left:2.2px;
    text-align: right;
    float: left;

}
.head3 input{
    padding: 5px;
    border-radius: 5px;
    border:2px solid orange;
    background-color: transparent;
    border-top-right-radius: 0px;
    border-bottom-right-radius:0px ;
    width: 160px;
}
.head3 button{
    padding: 5px;
    border-radius: 5px;
    background-color: orange;
    border: 2px solid orange;
    color: white;
    font-weight: bold;
    width:100px;
    margin-left: -9px;
    border-top-left-radius: 0px;
    border-bottom-left-radius:0px ;
}
.div21{
    margin-top:150px;
    width: 100%;
}
.div2{
    float: left;
    margin-left: 50px;
    margin-right: 0px;
    width: 50%;

     }
.div2>p{
    color:white;
}
.div2 h1{
    color: white;
    font-size:40px ;
    margin:0px;
}
.div2 .lh {
    color:orange;
    font-size: 48px;
}
.div2 p{
    font-weight: 800;
    margin: 7px;
}
.div2 button{
    width: 150px;
    padding: 7px;
    font-weight: bold;
    border-radius: 10px;
    background-color: orange;
    border:2px solid orange;
    margin-top: 20px;
}
.div3{

    margin: 0px;
    float: left;

}
.div3 form{
    width: 300px;
    background-color:black;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-left: 150px;
}
.div3 h3{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    border-radius: 10px;
    color: orange;
}
.div3 input{
    background-color: transparent;
    width:70%;
    padding: 10px;

    margin-bottom: 30px;  
 border: none;
   border-bottom: 2px solid orange;      }

   .div3 p{
    color:white;
margin: 7.5px;
   }
   .div3 button{
    background-color: orange;
    padding: 12px;
    border-radius: 10px;
    color: black;
    width: 75%;
    border: 2px solid orange;
    font-weight: bolder;
   }
   .div3 #i1{
    color:white;
    font-size:28px;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
   }
   input::placeholder{
    color: white;
    font-weight: bold;
   }
   a{
    color:orange;
   }